<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR HOME -->
     <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="myHome">Web Developer - Avid Reader - Typical Engineer - Accidental Poet</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
<% include ../partials/footer.ejs %>
