<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR PROJECTS -->
    <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/Content/img/download-office.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">IBM India Pvt, Ltd</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> The project involved an integrated application for inventory check, ordering tracking, invoicing, receiving and reporting orders. SMO Ordering is one of the way customers order products.I Worked as a JAVA application developer, played a key part in the development of several Service Objectives (SO) as per required by the client and engaged in other development activities.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/Content/img/cc.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov'2015 - April 2016</h4>
                                    <h4 class="subheading">College Corner Stone</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked as a system's analyst for a website called CollegeCornerStone which involves building a web portal where the universities/college students interact with their potential employers. The platform performs the initial screen as per the client/employer`s job requirement and sends a filtered list of potential candidates which reduces the response time. The portal enables students to create and track their applications status through their accounts.
</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/Content/img/hubub.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016 - Jan' 2017</h4>
                                    <h4 class="subheading">Stagwell Technologies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">One of the projects undertaken was to build a social media website that cross pollinates articles/news/videos from different categories on a single topic page. My job was to write python scripts that crawl various websites and ultimately fetch information, which was stored in database and later used on the topic page.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/Content/img/wim.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb'2017</h4>
                                    <h4 class="subheading">WIMTACH</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developing applications for Health informatics based on client's needs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Have something
                                    <br>to say?
                                    <br><a href="/contact"> <i class="fa fa-laptop" aria-hidden="true"></i></a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
<% include ../partials/footer.ejs %>
